.navbar {
  position: fixed; /* Se queda pegado arriba aunque hagas scroll */
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px; /* Espacio alrededor */
  display: flex;
  justify-content: space-between; /* Uno a la izquierda, otro a la derecha */
  align-items: center;
  z-index: 100; /* Asegura que esté siempre encima de todo */
  box-sizing: border-box; /* Para que el padding no rompa el ancho */
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: -1px;
}

.menu-items a {
  color: #aaaaaa; /* Gris suave */
  text-decoration: none; /* Sin subrayado */
  margin-left: 40px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s; /* Suaviza el cambio de color */
}

/* Efecto Hover: Cuando pasas el ratón por encima */
.menu-items a:hover {
  color: white;
}