* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black; /* Para evitar bordes blancos feos */
  overflow-x: hidden; /* Evita el scroll horizontal innecesario */
}