:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* Esto asegura que las barras de scroll se vean oscuras */
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Evita scroll horizontal */
}

#root {
  width: 100%; /* ¡Importante! Esto rompe la caja pequeña */
  margin: 0;
  padding: 0;
  text-align: left; /* Quitamos el centrado forzado */
}